.input-double-box-container{
    display: grid;
    
}
.input-double-box-container > label{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(255,255,255,0.3);
    font-weight: 300;
}
.input-double-box-container >  input{
    font-family: 'Poppins';
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 0 15px;
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    font-weight: 400;
    width: 150px;
    appearance: none;
   
}