.navigation{
    background-color: #1a1b1d;
    max-width: 250px;
}
.navigation > .head-navigation{
    margin: 50px 30px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.navigation > .head-navigation > h2{
    color: #D9B384;
    font-family: 'Roboto Serif';
    font-weight: 600;
    font-size: 16px;
}
.navigation > .main-menu{
    margin: 0 30px;
}

.navigation > .main-menu > h5{
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-size: 13px;
    color: rgba(255, 255, 255,0.4);
    margin: 0;
}
.navigation > .main-menu > ul {
    list-style: none;
    padding-inline-start: 0px;
    display: grid;
    row-gap: 20px;
    transform: translateX(-3px);
    margin-top: 25px;
}
.navigation > .main-menu > ul > li > div{
    width: 28px;
    height: 28px;
    
}

.navigation > .main-menu > ul > li {
    display: flex; 
    column-gap: 10px;
    align-items: center;
    font-family: 'Roboto Serif';
    font-weight: 400;
    color: rgba(255, 255, 255,0.6);
    font-size: 14px;
    cursor: pointer;
}
.navigation > .main-menu > ul > li.isActive{
    color: rgba(255, 255, 255,1);
    font-weight: 500;
}