.add-promotions-container{
    margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px 0 20px 0;
    min-height: 68vh;
}
.add-promotions-container > .add-promotion-information{
    margin: 0 100px;
    padding: 50px 0;
    position: relative;
}

.add-promotions-container > .add-promotion-information > .save-promotion{
    position: absolute;
    right:0;
    top:50px;
    font-family: "Poppins";
    font-size: 16px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0.24px;
    padding: 12px 30px;
    background-color: #d9b384;
    cursor: pointer;
}
.add-promotions-container > .add-promotion-information > .primary-add-information{
    padding: 0 200px;
}
.add-promotions-container > .add-promotion-information > .primary-add-information > div{
    display: flex;
    column-gap: 80px;
}
.add-promotions-container > .add-promotion-information > .primary-add-information > div:nth-child(1) 
> div:first-child > input
{
    width: 400px;
}
.add-promotions-container > .add-promotion-information > .primary-add-information > div:nth-child(2) 
> div > input
{
    width: 300px;
}
.add-promotions-container > .add-promotion-information > .primary-add-information > div > div{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-top: 60px;
}
.add-promotions-container > .add-promotion-information > .primary-add-information > div > div > label{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(0,0,0,0.5);
    font-weight: 400;
}
.add-promotions-container > .add-promotion-information > .primary-add-information > div > div > input{
    font-family: 'Poppins';
    height: 40px;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
    color: rgba(0,0,0,0.7);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.24px;
    border: 1px solid rgba(0,0,0,0.1);
 
}

.add-promotions-container > .add-promotion-information > h2{
    margin: 80px 0 0 0;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}
.add-promotions-container > .add-promotion-information > h2:first-child{
    margin-top: 0;
}


.add-promotions-container > .add-promotion-information > .search-product-on-promotion{
    display: grid;
    grid-template-columns: 6fr 4fr 2fr;
    align-items: center;
    margin-top: 40px;
}
.add-promotions-container > .add-promotion-information > .search-product-on-promotion > span{
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
}
.add-promotions-container > .add-promotion-information > .search-product-on-promotion > div.add-product-promotion{
    display: flex;
    justify-content: center;
    padding: 12px 50px;
    background-color: #F7F7F7;
    font-family: "Poppins";
    font-size: 15px;
    border-radius: 8px;
    color: rgba(0,0,0,0.7);
    cursor: pointer;
    position: relative;
}
.add-promotions-container > .add-promotion-information > .search-product-on-promotion > div.search-product-promotion{
    height: 45px;
    width: 350px;
    background-color: #F7F7F7;
    margin-left: 50px;
    position: relative;
} 
.add-promotions-container > .add-promotion-information > .search-product-on-promotion > div.search-product-promotion > img{
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
}
.add-promotions-container > .add-promotion-information > .search-product-on-promotion > div.search-product-promotion > input{
    font-family: 'Poppins';
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.24px;
    
}

.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list{
    position: fixed;
    right: 10%;
    width: 500px;
    height: 500px;
    top: 10%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    cursor: auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1000;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .header-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    position: relative;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .header-product > span{
    font-family: 'Poppins';
    color: rgba(0,0,0,0.7);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.24px;
    position: relative;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .header-product > .search-products{
    width: 250px;
    position: relative;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .header-product > .search-products > img{
    position: absolute;
    right: 8px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10001;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .header-product > .search-products > input{
    width: 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins';
    height: 35px;
    background-color: transparent;
    padding: 0 40px 0  20px;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.24px;
    border-radius: 50px;
    transition: 0.5s ease;
    position: relative;
    z-index: 100;
    left:100%;
    transform: translateX(-100%);
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .header-product > .search-products > input.searchActive{
    width: 100%;
    background-color: #F7F7F7;
    transition: 0.5s ease;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .container-products > ul {
    padding-inline-start: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 5fr 2fr 2fr;
    column-gap: 20px;
    align-items: center;
    color: rgba(0,0,0,0.4);
}

.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list >  ul:nth-child(2){
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 5fr 2fr 2fr;
    column-gap: 20px;
    align-items: center;
    color: rgba(0,0,0,0.4);
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list >  ul:nth-child(2) > li{
    font-weight: 500;
    color: rgba(0,0,0,0.5);
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .container-products > ul > li:last-child{
   display: flex;
   justify-content: center;
   position: relative;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .container-products > ul > li:last-child > div{
    width: 80%;
    height: 30px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    border: 1px solid rgba(54, 227, 57, 1);
    background-color: rgba(54, 227, 57, 0.2);
    color: rgba(54, 227, 57, 1);
    box-sizing: border-box;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .container-products > ul:hover{
    background-color: #F7F7F7;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .container-products  > ul{
    padding: 15px 20px;
    cursor: pointer;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .container-products{
    height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: -10px -20px 0 -20px;
}
.add-promotions-container > .add-promotion-information > 
.search-product-on-promotion > .add-product-promotion >
.product-list > .container-products::-webkit-scrollbar{
    display: none;
}
.container-products-promotion{
    min-height: 40vh;
}