
.content-table-account-container > .table-account-content {
    justify-content: space-between;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    list-style: none;
    padding: 35px 15px;
    display: grid;
    grid-template-columns: 1.3fr 2.5fr 2.5fr 2.2fr 1.3fr 1fr 1.2fr;
    column-gap: 20px;   
    border-bottom: 1px dashed rgba(0, 0, 0, 0.08);
    margin: 0 42px;
    align-items: center;
    box-sizing: border-box;
}
.content-table-account-container > .table-account-content.isUpdate{
    border: 1px solid #d9b384;
    box-sizing: border-box;
}
.content-table-account-container > .table-account-content > li {
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    font-weight: 400;
    position: relative;
}

.content-table-account-container > .table-account-content > li:nth-child(6) > span  {
    padding: 6px 25px;
    background-color: rgba(54, 227, 57, 0.2);
    text-align: center;
    border-radius: 50px;
    color: rgba(54, 227, 57, 1);
}

.content-table-account-container > .table-account-content > li.edit-account {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.content-table-account-container > .table-account-content > li.edit-account > span{
    padding: 7px 32px;
    border-radius: 5px;
}
.content-table-account-container > .table-account-content > li.edit-account.isUpdate > span{
    background-color: #d9b384;
    color: #FFFFFF;
}
