.head-table-account-container > .head-table-account-content{
    justify-content: space-between;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    list-style: none;
    padding: 25px  15px;
    display: grid;
    grid-template-columns: 1.3fr 2.5fr 2.5fr 2.2fr 1.3fr 1fr 1.2fr;
    column-gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 42px;
}

.head-table-account-container > .head-table-account-content > li{
    font-family: 'Poppins';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    font-weight: 500;
}   

.head-table-account-container > .head-table-account-content > li:last-child{
    display: flex;
    justify-content: center;

}