.input-admin-select-box-container{
    display: grid;
    width: 200px;
    position: relative;
}
.input-admin-select-box-container > label{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(255,255,255,0.3);
    font-weight: 300;
}
.input-admin-select-box-container > .content-select{
    position: relative;
    
}
.input-admin-select-box-container > .content-select > .content-option{
    width: 100%;
    height: 40px;
    padding: 0 15px;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(255,255,255,0.5);
    font-weight: 300;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    position: relative;
    z-index: 101;
}
.input-admin-select-box-container > .content-select > .content-option > option{
    background-color: rgba(26, 27, 29, 1);

}
.input-admin-select-box-container > .content-select > .img-select-box{
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    
}
