.input-admin-box-container{
    display: grid;
    width: 320px;
}
.input-admin-box-container > label{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(0,0,0,0.7);
    font-weight: 400;
}
.input-admin-box-container >  input{
    font-family: 'Poppins';
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 0 15px;
    color: rgba(0,0,0,0.8);
    font-size: 15px;
    font-weight: 400;
}