.radio-admin-input-container{
    display: grid;
}
.radio-admin-input-container > label{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(0,0,0,0.7);
    font-weight: 400; 

}
.radio-admin-input-container > .container-option-radio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5px;
}
.radio-admin-input-container > .container-option-radio > div{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.radio-admin-input-container > .container-option-radio > div.isActive{
    background-color: #d9b384;
    border: none;
}
.radio-admin-input-container > .container-option-radio > div > span{
    font-family: 'Poppins';
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    font-weight: 400; 
    
}
.radio-admin-input-container > .container-option-radio > div.isActive > span{
    color: rgba(255,255,255,1);
    font-weight: 400;
}