.order-detail-container {
    width: 100%;
}
.order-detail-container > h1 {
    margin-top: 30px;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 500;
    color: rgba(255,255,255,0.9);
    margin-bottom: 5px;
}
.order-detail-container >  p{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(255,255,255,0.2);
    margin-bottom: 40px;
    font-weight: 300;
    cursor: pointer;
}
.order-detail-container > .back-to-orders{
    display: flex;
    align-items: center;
    border: 1px solid rgba(217, 179, 132, 0.5);
    width: 150px;
    height: 40px;
    justify-content: center;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
}
.order-detail-container > .back-to-orders > img{
    position: absolute;
    left: 20px;
}
.order-detail-container > .back-to-orders > span{
    font-family: 'Roboto Serif';
    font-size: 16px;
    font-weight: 400;
    color: rgba(217, 179, 132, 0.5);
    margin-left: 20px;
}
.order-detail-container > .order-detail-content{
    background-color: rgba(26, 27, 29, 1);
    margin-top: 50px;
    padding: 100px;
    border-radius: 10px;
}

.order-detail-container > .order-detail-content > .information-order{
    box-sizing: border-box;
    padding: 70px 80px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    position: relative;
    border-radius: 10px;
}
.order-detail-container > .order-detail-content > .information-order > .type-order{
    position: absolute;
    right: 80px;
    top:70px;
    font-family: "Roboto Serif";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 15px;
    border: 1px solid rgba(217, 179, 132, 0.5);
    color: rgba(217, 179, 132, 0.5);
}
.order-detail-container > .order-detail-content > .information-order > h3{
    color: rgba(255, 255, 255, 0.40);
    font-family: "Roboto Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    margin: 0 0 50px 0;
}
.order-detail-container > .order-detail-content > .information-order >  .customer-information{
display: flex;
justify-content: center;
}
.order-detail-container > .order-detail-content > .information-order >  .customer-information > ul{
padding-inline-start: 0;
list-style: none;
}
.order-detail-container > .order-detail-content > .information-order >  .customer-information > ul > li{
display: flex;
align-items: center;
justify-content: space-between;
width: 560px;
}
.order-detail-container > .order-detail-content > .information-order >  .customer-information > ul > li > h5{
width: 160px;
color: rgba(255, 255, 255, 0.2);
font-family: "Roboto Serif";
font-size: 14px;
font-weight: 600;
margin: 15px;
letter-spacing: 0.24px;
}
.order-detail-container > .order-detail-content > .information-order >  .customer-information > ul > li > span{
width: 380px;
color: rgba(255, 255, 255, 0.4);
font-family: "Roboto Serif";
font-size: 15px;
font-weight: 500;
margin: 15px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information{
display: grid;
border: 1px solid rgba(255, 255, 255, 0.10);
padding: 20px ;
margin-top: 50px;
border-radius: 10px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul {
padding-inline-start: 0;
list-style: none;
display: grid;
grid-template-columns: 2fr 6fr 2fr 2fr ;
box-sizing: border-box;
column-gap: 20px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul > li{
color: rgba(255, 255, 255, 0.4);
font-family: "Roboto Serif";
font-size: 15px;
font-weight: 500;
display: flex;
justify-content: center;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul:first-child > li{
font-weight: 600;
color: rgba(255, 255, 255, 0.7);
letter-spacing: 0.5px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul:first-child{
border-bottom: 1px solid rgba(255, 255, 255, 0.10);
padding-bottom: 20px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul > li:nth-child(2){
justify-content: flex-start;
padding-left: 30px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul > li:nth-child(1){
justify-content: flex-start;
padding-left: 30px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul:nth-child(n+2){
align-items: center;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul:nth-child(n+2) > li:first-child > div{
height: 120px;
width: 100%;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul:nth-child(n+2) > li:nth-child(2) > div > h4{
color: rgba(255, 255, 255, 0.4);
font-family: "Roboto Serif";
font-size: 16px;
font-weight: 500;
margin: 0;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul:nth-child(n+2) > li:nth-child(2) > div > p{
    color: rgba(255, 255, 255, 0.2);
font-family: "Roboto Serif";
font-size: 14px;
font-weight: 500;
margin-top: 10px;
margin-bottom: 5px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > ul:nth-child(n+2) > li:nth-child(2) > div > span{
    color: rgba(255, 255, 255, 0.2);
font-size: 14px;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > .line{
height: 1px;
background-color: rgba(255,255, 255, 0.10);
}
.order-detail-container > .order-detail-content > .information-order > .products-information > .total{
display: grid;
grid-template-columns: 8fr 4fr;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > .total > div:first-child{
border-right: 1px solid rgba(255, 255, 255, 0.10);
display: flex;
justify-content: center;
align-items: center;
}

.order-detail-container > .order-detail-content > .information-order > .products-information > .total > ul {
display: block;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > .total > ul > li{
display: flex;
justify-content: space-between;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > .total > ul > li > h5{
margin: 15px 0;
color: rgba(255, 255, 255, 0.5);
font-family: "Roboto Serif";
font-size: 15px;
font-weight: 600;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > .total > ul > li:last-child > h5{
color: rgba(255, 255, 255, 0.8);
font-weight: 700;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > .total > ul > li > h4{
margin: 15px 0;
color: rgba(255, 255, 255, 0.5);
font-family: "Roboto Serif";
font-size: 15px;
font-weight: 600;
}
.order-detail-container > .order-detail-content > .information-order > .products-information > .total > ul > li:last-child  > h4{
color: rgba(255, 255, 255, 0.8);
font-weight: 700;
}
.order-detail-container > .order-detail-content > .button-prepared{
    display: flex;
    column-gap: 40px;
    margin-top: 50px;
}
.order-detail-container > .order-detail-content > .button-prepared > div{
    width: 255px;
    height: 50px;
    background-color: rgba(217, 179, 132, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Serif';
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    cursor: pointer;
 }
 .order-detail-container > .order-detail-content > .button-prepared >  div:nth-child(2){
    background-color: transparent;
    border: 1px solid rgba(217, 179, 132, 0.5);
 }