.container-admin{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 10.5fr;
    background-color: rgba(26, 27, 29, 0.99);
}
.overview-container{
    overflow: hidden;
    position: relative;
}
.overview-container .scroll-view{
    overflow: hidden;

    position: relative;
    max-height: 100vh;
    min-height: 100vh;
}
.overview-container .scroll-view .view-container{
    overflow-y: scroll;
    position: absolute;
    left: 20px;
    bottom: 20px;
    top: 0px;
    right: 20px;
}
.overview-container .scroll-view .view-container::-webkit-scrollbar{
    width: 0 !important;
    display: none; 
}
.overview-container .ana-card{
    position: relative;
    
}