.promotion-card-container{
    padding-inline-start: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 2.2fr 1.5fr 1.7fr 1.7fr 1.5fr 1.5fr;
    padding: 20px 35px;
    align-items: center;
    transition: 0.5s ease;
    column-gap: 20px;
}
.promotion-card-container:hover{
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
.promotion-card-container > li{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    font-weight: 500;
}

/* .promotion-card-container > li:nth-child(3),
.promotion-card-container > li:nth-child(6){
    display: flex;
    justify-content: center;
} */
.promotion-card-container > li:last-child{
    display: flex;
    justify-content:center;
}
.promotion-card-container > li:last-child > div.isAvailable{
    border: 1px solid rgba(54, 227, 57, 1);
    padding: 5px 25px;
    border-radius: 50px;
    background-color: rgba(54, 227, 57, 0.2);
    color: rgba(54, 227, 57, 1);
}
.promotion-card-container > li:last-child > div.isUnAvailable{
    color: rgba(217, 4, 61,1);
    border: 1px solid rgba(217, 4, 61,1);
    padding: 5px 25px;
    border-radius: 50px;
    background-color: rgba(217, 4, 61,0.2);
}