.warranty-view-container{
    padding: 20px 50px;
}
.warranty-view-container > ul{
    list-style: none;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1.6fr 2.5fr 1.6fr 1.6fr 1fr  1fr;
    padding: 0 20px ;
    align-items: center;
    padding: 35px 15px;
    margin-block-start: 0;
    margin-block-end: 0;
    column-gap: 20px;
}
.warranty-view-container > ul:first-child{
    padding: 30px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.warranty-view-container > ul:first-child > li{
    font-family: 'Poppins';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}
.warranty-view-container > ul > li{
    font-family: 'Poppins';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.55);
    font-weight: 400;
    
}
.warranty-view-container > ul > li:last-child{
    text-align: center;
}
.warranty-view-container > ul:nth-child(n+2){
    margin: 5px 0;
}
.warranty-view-container > ul:nth-child(n+2) > li > input{
    width: 90%;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 0 10px;
    color: rgba(0,0,0,0.8);
    font-size: 15px;
    font-weight: 400;
}
.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7){
    font-weight: 700;
    font-weight: 17px;
   
}
.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7) > img{
    right: 7px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7).isUpdate{
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    height: 40px;
    position: relative;
    padding: 0 7px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7) > ul {
    padding-inline-start: 0;
    list-style: none;
    position: absolute;
    top:90%;
    background-color: #FFFFFF;
    width: 100%;
    margin-left: -8px;
    height: 0;
    overflow-y: scroll;
    transition: 0.2s ease;
}
.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7) > ul.isActive{
    height: 80px;
    padding: 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}
.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7) > ul::-webkit-scrollbar{
    display: none;
}
.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7) > ul  > li {
   padding: 8px 7px;
   font-size: 16px;
   font-weight: 600;
}
.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7) > ul  > li:hover{
    background-color: #F7f7f7;
}
.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7) > ul  > li.isActive{
    color: rgba(54, 227, 57, 1);
}
.warranty-view-container > ul:nth-child(n+2) > li:nth-child(7) > ul  > li.isInActive{
    color: rgba(217, 4, 61, 1);
}



.warranty-view-container > ul:nth-child(n+2) > li:last-child > span{
    padding: 8px 33px;
    cursor: pointer;
}
.warranty-view-container > ul:nth-child(n+2) > li:last-child.isUpdate > span{
    background-color: #d9b384;
    color: #FFFFFF;
    border-radius: 5px;
}
.warranty-view-container > ul:nth-child(n+2).isUpdate{
    border: 1px solid #d9b384;
    border-radius: 5px;
}