.container-home-pages{
    width: 100%;
}
.container-home-pages > .banner-shop{
    width: 100%;
    height : 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.container-home-pages > .banner-shop > img{
    min-width: 100%;
}
.container-home-pages > .category{
    width: 1180px;
    margin: 40px auto 70px auto;
}
.container-home-pages > .category > div{
    display: flex;
    height: 300px;

}
.container-home-pages > .category > div > div.jewelry{
    width: 295px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.container-home-pages > .category > div > div.jewelry > h2{
    position: absolute;
    bottom: 40px;
    left:30px;
    font-family: 'Roboto Serif';
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.04em;
    color: rgba(0,0,0,0.85);
}
.container-home-pages > .category > div > div.jewelry > span{
        position: absolute;
        left: 30px;
        bottom: 30px;
        font-family: 'Roboto Serif';
        font-weight: 00;
        font-size: 16px;
        color: #D9B384;
}
.container-home-pages > .category > div > div.jewelry.ring > img{
    left:100%;
    position: relative;
    transform: translateX(-110%);
}
.container-home-pages > .category > div > div.jewelry.earing > img{
    width: 110%;
    left:50%;
    transform: translate(-4%,-14%);
}
.container-home-pages > .category > div > div.jewelry.pendant > img{
    height: 200px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.container-home-pages > .category > div > div.jewelry.shake > img{
    height: 110%;
    position: relative;
    transform: translate(-5%,-16%);
}
.container-home-pages > .category > div > div.jewelry.pendant,
.container-home-pages > .category > div > div.jewelry.earing{
     background-color: rgba(26, 27, 29, 1);
    
}
.container-home-pages > .category > div > div.jewelry.pendant > h2,
.container-home-pages > .category > div > div.jewelry.earing > h2{
    color: rgba(255,255,255,0.9);
    font-weight: 500;
}
.container-home-pages > .category > div > div.jewelry-set{
    width: 590px;
    position: relative;
    background-color: rgba(0,0,0,1);
    cursor: pointer;
    overflow: hidden;
}

.container-home-pages > .category > div > div.jewelry-set > h1{
    position: absolute;
    width: 280px;
    height: 40px;
    left: 45px;
    top: 73px;
    font-family: 'Roboto Serif';
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0;

}
.container-home-pages > .category > div > div.jewelry-set > div{
    box-sizing: border-box;
    position: absolute;
    top: 133px;
    left: 45px;
    width: 200px;
    height: 50px;
    border: 1px solid rgba(217, 179, 132, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-home-pages > .category > div > div.jewelry-set > img.img-category{
    position: relative;
    right:-100%;
    width: 300px;
    height: 300px;
    transform: translateX(-105%);
    object-fit: cover;
}
.container-home-pages > .category > div > div.jewelry-set > div > span{
    font-family: 'Roboto Serif';
    font-weight: 300;
    font-size: 20px;
    color: rgba(217, 179, 132, 0.8);
}
.container-home-pages > .category > div > div.jewelry-set > span{
    position: absolute;
    top: 203px;
    left: 45px;
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-size: 16px;
    color: #D9B384;
}
.container-home-pages > .product-newarrival-onsale{
    width: 1180px;
    margin: 0 auto;
}   
.container-home-pages > .product-newarrival-onsale > ul {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    padding-inline-start: 0;
}
.container-home-pages > .product-newarrival-onsale > ul > li{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid #D9B384;
    align-items: center;
    font-family: 'Roboto Serif';
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

}
.container-home-pages > .product-newarrival-onsale > ul > li.isActive{
    background-color: #D9B384;
    color: rgba(255,255,255,0.9);
}
.container-home-pages > .product-newarrival-onsale  > .home-product-container{
    margin: 40px 0;
    display: grid;
    position: relative;
}
.container-home-pages > .product-newarrival-onsale  >
 .home-product-container > .button-see-more{
    width: 180px;
    height: 40px;
    position: relative;
    left:100%;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9B384;
    cursor: pointer;
 } 
 .container-home-pages > .product-newarrival-onsale  >
 .home-product-container > .button-see-more > span{
    font-family: 'Roboto Serif';
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
 }
 .container-home-pages > .product-newarrival-onsale  >
 .home-product-container > .home-product-container-card{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,280px);
    gap: 20px;
 }


 .container-home-pages >  .did-not-find-answer{
    background-color: rgba(0,0,0,1);
    position: relative;
 }
 .container-home-pages >  .did-not-find-answer > div{
    width: 1180px;
    margin: 40px auto;
    position: relative;
    display: grid;
    justify-content: center;
 }
 .container-home-pages >  .did-not-find-answer > div > h1{
    color: #D9B384;
    font-family: "Roboto Serif";
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.34px;
    padding-top: 50px;
    margin: 0;
    width: 780px;
    text-align: center;
 }
 .container-home-pages >  .did-not-find-answer > div > p{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: "Roboto Serif";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15px;
    margin: 0;
    width: 780px;
 }
 .container-home-pages >  .did-not-find-answer > div > div{
    width: 180px;
    height: 60px;
    border: 1px solid #D9B384;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 50px 0;
    position: relative;
    left:50%;
    transform: translateX(-50%);

 }
 .container-home-pages >  .did-not-find-answer > div > div > span{
    color: #D9B384;
    font-family: "Roboto Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
 }